.footer {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 0 84px 0 84px;
}

.footer__link {
}

.footer__links {
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0%;
  list-style: none;
  display: flex;
  gap: 40px;
  color: #1a1b22;
}

.footer__links_wrapper {
  display: flex;
}

.footer__copyright {
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0%;
  color: #b6bcbf;
}

.footer__social_links {
  display: flex;
  list-style: none;
  gap: 24px;
}
